<div class="media">
	<a class="pull-left" href="#/posts/{{_id}}" data-cid="{{cid}}">
	  <img class="media-object img-" src="{{ image }}" alt="{{ title }}"/>
	</a>
	<div class="media-body">
	  <h4 class="media-heading">{{ title }}</h4>
	  <p>{{ body }}</p>
	</div>
</div>