<div class="media">
	<a class="pull-left" href="#/posts/{{_id}}" data-cid="{{cid}}">
	  <img class="media-object img-thumbnail" src="{{ image }}" alt="{{ title }}"/>
	</a>
	<div class="media-body clearfix">
		
		<div class="pull-right actions">
			<div class="btn-group">
			<a href="#/posts/{{_id}}/edit" class="btn btn-default btn-sm edit"> 
				<i class="glyphicon glyphicon-pencil"></i> 
			</a>
			<a href="#/posts/{{_id}}/delete" class="btn btn-danger btn-sm delete"> 
				<i class="glyphicon glyphicon-trash"></i> 
			 </a>
			</div>
		</div>
		
	  <h4 class="media-heading">{{ title }}</h4>
	  <p>{{ body }}</p>
	</div>
</div>